@use "sass:string";

@mixin generate-spacing-class($property, $direction: null) {
  $classname: str-slice($property, 0, 1);
  @if ($direction) {
    $classname: $classname + "-" + str-slice($direction, 0, 1);
    $property: $property + "-" + $direction;
  }
  @for $i from 0 through 40 {
    .#{$classname}-#{$i} {
      #{$property}: #{$i + "px"};
    }
  }
}

@mixin icon($name, $width: 28px, $height: 28px, $xPos, $yPos, $color: #000) {
  .icon-#{$name} {
    display: inline-block;
    width: $width;
    height: $height;
    background-position: $xPos $yPos;
    background-repeat: no-repeat;
    background-image: url('/assets/icons/icons.svg');
    stroke: $color;
  }
}
