.collapsed-sidebar {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  height: 100vh;
  width: 64px;
  background: rgb(7, 71, 166);
  transition: all 0.1s ease 0s;
  transform: translateZ(0px);
  &:hover {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 50px 0px;
    .collapsed-sidebar__item-text {
      opacity: 1;
      transition: all 0.3s ease;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    height: 42px;
    line-height: 42px;
    color: rgb(222, 235, 255);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    padding-left: 20px;

    &-text {
      position: absolute;
      opacity: 0;
      left: 56px;
      transition: none;
      font-size: 12px;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    svg {
      width: 22px;
      height: 22px;
      filter: invert(1);
    }
  }

  &__bottom-item {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
  }
}
