.form-field {
  &__select {
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    border: 1px solid rgb(223, 225, 230);
    background: rgb(244, 245, 247);
    transition: background 0.1s ease 0s;

    .select {
      &__value {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        min-height: 32px;
        padding: 5px 5px 5px 10px;

        &-text {
          font-size: 14px;
        }

      }

      &__placeholder {
        font-size: 14px;
        color: rgb(137, 147, 164);
      }

      &__menu {
        z-index: 101;
        position: absolute;
        top: 100%;
        left: 0px;
        border-radius: 0px 0px 4px 4px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
        width: 100%;
        max-height: 200px;
        overflow: hidden auto;

        &-option {
          padding: 8px 14px;
          word-break: break-word;
          cursor: pointer;

          &:hover {
            background: rgb(210, 229, 254)
          }

          &:last-of-type {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}