.input {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 100%;

  input {
    height: 100%;
    width: 100%;
    padding: 0px 7px;
    border-radius: 3px;
    border: 1px solid rgb(223, 225, 230);
    color: rgb(23, 43, 77);
    background: rgb(244, 245, 247);
    transition: background 0.1s ease 0s;
    font-size: 15px;
  }
}