.input {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 100%;

  input {
    height: 100%;
    width: 100%;
    padding: 0px 7px;
    border-radius: 3px;
    border: 1px solid rgb(223, 225, 230);
    color: rgb(23, 43, 77);
    background: rgb(244, 245, 247);
    transition: background 0.1s ease 0s;
    font-size: 15px;
    outline: none;

    &:focus {
      background: rgb(255, 255, 255);
      border-color: rgb(76, 154, 255);
    }
  }

  &.invalid {
    input {
      border-color: rgb(225, 60, 60);

      &:focus {
        border-color: rgb(225, 60, 60);
        outline: none;
      }
    }
  }

}