.collapsed-sidebar {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  height: 100vh;
  width: 64px;
  background: rgb(7, 71, 166);
  transition: all 0.1s ease 0s;
  transform: translateZ(0px);
  &:hover {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 50px 0px;
  }
}
