.form-field {
    &__text-editor {
        .ql-toolbar.ql-snow {
            border-radius: 4px 4px 0 0;
            border: 1px solid rgb(223, 225, 230);
            border-bottom: none;
        }

        .ql-container.ql-snow {
            border-radius: 0px 0px 4px 4px;
            border-right: 1px solid rgb(223, 225, 230);
            border-bottom: 1px solid rgb(223, 225, 230);
            border-left: 1px solid rgb(223, 225, 230);
            border-image: initial;
            border-top: none;
            color: rgb(23, 43, 77);
            font-size: 15px;
        }

        .ql-editor {
            min-height: 110px;
        }
    }
}